<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://parkingmanagement.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9632cc19-e998-4bf5-93b1-b0aff65e1290/resourceGroups/adj-dev-rg/providers/Microsoft.Web/sites/ParkingManagement</ResourceId>
    <UserName>$ParkingManagement</UserName>
    <_SavePWD>true</_SavePWD>
    <ApiResourceId>/subscriptions/9632cc19-e998-4bf5-93b1-b0aff65e1290/resourceGroups/adj-dev-rg/providers/Microsoft.ApiManagement/service/ParkingManagementApi/apis/ParkingManagement</ApiResourceId>
    <PublishUrl>https://parkingmanagement.scm.azurewebsites.net/</PublishUrl>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>